.section {
    height: calc(100vh - 4.6rem);
    background-image: url('../assets/anniversary-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(3rem, 2.7vw, 3rem);
    overflow: hidden;
    p {
        font-weight: 500;
        font-style: italic;
        color: var(--pinkColor);
        -webkit-text-stroke: 1px rgb(255, 255, 255);
        margin: 8rem 8rem 8rem 0;
 
    }

}
@media screen and (max-width: 700px) {
    .section {
    height: 100vh;
    flex-direction: column;
    p {
        margin-left: 8rem;
    }
    img {
        width: 60%;
    }
    }
}