.dedication {
    height: 100vh;
    background-image: url('../assets/star-gradient-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 45vw;
    }
   .dText {
    text-align: center;
    margin-right: 2rem;
    h1 {
        margin: 0;
        color: var(--pinkColor);
    }
    hr {
        width: 15%;
        padding: 0;
        color: var(--mColor);
    }
    p {
        font-weight: 300;
        font-size: clamp(1.8rem, 2.5vw, 3rem);
    }
   }
}
@media screen and (max-width: 700px) {
    .dedication {
    
        height: 100vh;
        flex-direction: column;
        .dText {
            margin: 0;
        }
    }
}