.dedication {
    height: calc(100vh - 4.7rem);
    background-image: url('../assets/star-gradient-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 45vw;
    }
}