.story {
    background-image: url('../assets/StoryBg.png');
    background-repeat: no-repeat;
    background-size: 650px 350px;
    background-position: center bottom;
    text-align: center;
    color: var(--tColor);
    height: calc(100vh - 5rem);
    margin: 1rem 8rem;
    
    p {
        font-size: clamp(1.8rem, 2.5vw, 1.2rem);
    }
   
    h1 {
        color: var(--pinkColor);
        font-weight: 700;
        letter-spacing: 4px;
        hr {
            margin: 0.3rem 45%;
            width: 10%;
            color: var(--mColor);

          
        }
        
    }

}
br {
    margin: 1rem;
    
}

.dec img {
    width: 150px;
    position: absolute;
    right: 80%;
    bottom: 10%;
}
.dec2 img {
    rotate: 90;
    position: absolute;
    width: 150px;
    right: 10%;
    bottom: 10%;
    rotate: 120deg;
}
.cont {
    height: 105vh;
    background-image: url('../assets/Quill.png');
    background-size: 200px;
    background-position: bottom right;
    background-repeat: no-repeat;
    text-align: center;
    margin:  8rem;
    .hStory {
        color: var(--pinkColor);
        font-weight: 400;
        font-size: 3rem;
    }
    h1 {
        margin: 0;
        color: var(--mColor);
        letter-spacing: 8px;
    }
    hr {
        width: 40%;
        color: var(--pinkColor);
        
    }
    p {
        font-size: clamp(1.8rem, 2.3vw, 2.4rem);
 
    }
}
@media screen and (max-width: 480px) {
    .dec img {
        display: none;
    }
    .dec2 img {
        display: none;
    }
    .story {
    opacity: 1;
}
}
@media screen and (max-width: 700px) {
    .story {
        margin: 2rem;
        background-position: bottom;
        background-size: 55vh;
       
    }
    .cont {
        height: auto;
        margin: 2rem;
        padding-bottom:20rem;
    }
}